@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --primary-color: #091156;
  --secondary-color: #ff64ae;
  --text-color: #8b8b8b;
  --header-height: 64px;
  --header-spacing-top: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

.my-container {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}

.my-btn {
  font-weight: 600;
  line-height: 24px;
  padding: 14px 40px;
  background-color: var(--secondary-color);
  border-radius: 50px;
  text-decoration: none;
  border: none;
  outline: none;
  letter-spacing: 0.1em;
  display: block;
  color: #fff;
  transition: all 0.25s linear;
}

.my-btn:hover {
  box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);
}

.my-btn--has-shadow {
  box-shadow: 0px 17px 22px #ffedf6;
}

.section__heading-name {
  font-weight: 600;
  line-height: 20px;
  color: var(--secondary-color);
}

.section__heading-title {
  color: var(--primary-color);
  font-size: 36px;
  line-height: 45px;
  font-weight: 600;
  margin: 12px 0;
}

.section__heading-desc {
  color: var(--text-color);
  line-height: 24px;
  letter-spacing: 0.1em;
}

/* responsive */
@media (max-width: 1024px) {
  .my-container {
    padding: 0px 12px;
  }
}
