/* header */
.header {
  height: 100vh;
  padding-top: var(--header-spacing-top);
  background-image: url(../images/Bubble\ 1.png), url(../images/Bubble\ 2.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 82% 90%, 86% 94%;
}

.header__inner {
  height: var(--header-height);
}

.menu-active {
  color: #414880 !important;
}
/* end header */

/* slider */
.slider {
  height: calc(100vh - (var(--header-height) + var(--header-spacing-top)));
}

.slick-list,
.slick-track {
  height: 100%;
}

.slider__item-btn {
  display: inline-block;
}

.slider__dot {
  width: 15px !important;
  height: 3px !important;
  background-color: #eeeeee !important;
  border-radius: 50px !important;
  padding: 0 !important;
}

.slider__dot::before {
  content: "" !important;
}

.slick-dots li {
  bottom: 50px;
  width: auto !important;
  height: auto !important;
}

.slick-active .slider__dot {
  width: 25px !important;
  height: 8px !important;
  background-color: #414880 !important;
}
/* end slider */

/* footer */
.footer {
  position: relative;
}

.footer__background-image-1 {
  background-image: url(../images/Footer\ BG\ 2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

.footer__background-image-2 {
  background-image: url(../images/Footer\ BG\ 1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

.footer__background-image-3 {
  z-index: -2;
  height: 125px;
  background-image: url(../images/Bottom\ BG.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/* end footer */
